@import url('https://fonts.googleapis.com/css2?family=Sono&display=swap');

.container {
 
 display: grid;
 grid-template-columns: 1fr 1fr;
 justify-content: space-around;
 width: 1440px;
 grid-gap: 1px;
  
}
.help_pick {
 background-color: #8E7970;
 font-family: 'Sono', sans-serif;
 padding: 10px;
 color: white;
 font-size: 56px;
 text-align: center;
 cursor: pointer;
}
