.container {
 background-color: rgba(88, 86, 86, 0.288);
 display: flex;
 border: 1px solid rgb(189, 102, 102);
 justify-content: space-around;
 font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
 height: 6vw 100%;
 width: 1440px;
}
.help_pick {
 padding: 10px;
 color: white;
 font-size: 56px;
 text-align: center;
 cursor: pointer;
}
