.container {
  background-color: yellowgreen;
 display: grid;
 border-radius: 20px;
 border: 1px solid rgb(189, 102, 102);
 justify-content: space-between;
 align-items: center;
 font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
 cursor: pointer;
 height: 6vw 100%;
}
.help_pick {
 padding: 10px;
 color: white;
 font-size: 56px;
 text-align: center;
}
#step {
 border-top: 2px solid black;
}