.navbar__header {
 color: rgb(185, 185, 185);
 display:flex;
 width: 100%;
 justify-content: space-between;
 padding: 24px;
}

.navbar__header__link{
 color:inherit;
 padding: 10px;
 text-decoration: none;
 font-family: Open Sans, sans-serif;
 font-size: larger;
}

.navbar__header__left{
 display:flex;
 align-items: center;
}

.navbar__icon {
 padding: 8px;
}

.navbar__header__right{
 display:flex;
 align-items: center;
 color: rgb(185, 185, 185);
}

.svg-icon {
 display: block;
 width: 100%;
 height: 100%;
}

.navbar__btn {
  border-radius: 10px;
 cursor: pointer;
 padding: 6px;
 align-items: center;
}

.nav-popover__trigger_active {
  z-index: 120;
  position: relative;
  transition: 0.3s;
  color: rgb(255, 255, 255);
  background-color: #3f4a66;
  border-radius: 10px;
}

.hamburger{
 display: block;
 height: auto;
 padding: 7px 9px;
 cursor: pointer;
}

.line {
 width: 22px;
 height: 2px;
 background-color: rgb(185, 185, 185);
 display: block;
 margin: 5px auto;
 transition: all .3s ease-in-out;
 border-radius: 2px;
}

.navbar__header__link:hover {
 border-radius: 10px;
 background-color:#3f4a66;
 transition: 0.3s;
 color:rgb(255, 255, 255);
}

.navbar__btn:hover{

 transition: 0.3s;
 color: rgb(255, 255, 255);
 background-color:#3f4a66;
}

.hamburger:hover .line:first-child {
 transform: translateX(-6px) translateZ(0);
 width: 14px;
}
