.navbar {
 display: flex;
 flex-direction: column;
 background-color: #161d2f;
 align-items: center;
 width: 70px;
 border-radius:20px;
 margin-top: 40px;
 margin-left: 20px;
 
}

.navbar:hover {
box-shadow: 5px 5px 5px black;;
transition: ease-in-out 0.3s;
}

.nav-text {
text-decoration: none;
width: 32px;
height: 32px;
margin-top: 28px;
}
.nav-text:hover {
cursor: pointer;
transform: scale(1.1);
transition: 0.3s;
}

.nav-text a{
 text-decoration: none;
 color: grey;
}
.nav-text a:hover {
color: white;
transition: 0.3s;
}

.avatar {
 border: white solid 1px;
 border-radius: 50%;
 width: 32px;
 height: 32px;
 margin-top: auto;
 margin-bottom: 28px;
}

.avatar:hover {
cursor: pointer;
 transform: scale(1.1);
 transition: 0.3s;
}