
.header {
 color: white;
 margin-top: 10px ;
 
}
.header_box {
 border: 1px solid black;
 display: flex;
 width: 1440px;
 justify-content: space-between;
 margin: auto;
}
.nav_link {
 font-size: larger;
 text-decoration: none;
 padding: 20px 40px 20px ;
 border-right: 1px solid black;
 border-left: 1px solid black;
}
